.head {
    display: flex;
    justify-items: center;
    color: lime;
    position: absolute;
    top: 0.8cm;
    font-size: 50px;
    font-family: Chiller;
    border-radius: 10%;
    padding: 5px 9px 10px;
    background-color: rgba(245, 245, 220, 0.034);
    animation: webcd 1.5s ease-in-out infinite alternate-reverse;
}

@keyframes webcd {
    0% {
        color: yellow;
    }

    100% {
        color: green;
    }
}



.portofile {
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;

}

.proCard {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.233);
    position: absolute;
    top: 4cm;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 3px 40px rgb(0, 0, 0);

}

.circleImg {
    height: 200px;
    width: 200px;
    background-color: rgba(34, 189, 189, 0.712);
    border-radius: 50%;
    position: relative;
    top: -90px;
    box-shadow: 0 0 40px rgb(47, 165, 173);
    animation: prCir 0.8s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pName {
    position: absolute;
    top: 6cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: honeydew;
    font-size: 19px;
}

.Age {
    position: absolute;
    top: 7cm;
    font-family: Forte;
    color: honeydew;
    font-size: 19px;
}

.Bd {
    position: absolute;
    top: 7.5cm;
    font-family: Forte;
    color: honeydew;
    font-size: 19px;
}

.whap {
    position: absolute;
    top: 8cm;
    font-family: Forte;
    color: honeydew;
    font-size: 19px;
}

.insta {
    position: absolute;
    top: 8.5cm;
    font-family: Forte;
    color: honeydew;
    font-size: 19px;
}

.thought {
    position: absolute;
    top: 9.4cm;
    font-family: Lato;
    color: honeydew;
    font-size: 19px;
    background-color: rgba(0, 255, 255, 0.075);
    border: 3px solid royalblue;
    cursor: pointer;
}

a {
    color: rgb(197, 120, 120);
}

a:hover {
    color: royalblue;
}

a:active {
    color: rgb(197, 120, 120);
}